<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>道の駅・物産館イメージ 無料ホームページテンプレート tp_bussan2</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<header>
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="道の駅"></a></h1>
</header>

<div id="container">

<nav id="header-menu">
<ul>
<li><a href="info.html">施設のご案内<i class="fas fa-info-circle"></i></a></li>
<li><a href="shopping.html">お買い物<i class="fas fa-shopping-basket"></i></a></li>
<li><a href="event.html">イベント<i class="far fa-calendar-alt"></i></a></li>
<li><a href="access.html">アクセス<i class="fas fa-map-marker-alt"></i></a></li>
</ul>
</nav>

<main>

<section>

<h2>会社概要</h2>

<table class="ta1">
<caption>大見出しが必要ならここを使います</caption>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th>見出し</th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
</table>

</section>

<section>

<h2 id="about">2021年10月「以前」にテンプレートを利用した事のあるお客様へ</h2>
<p>2021年11月以降からの配布テンプレートについて、かなり仕様が変更されましたので、メインとなる内容のみピックアップさせて頂きます。<br>
今後しばらく新作テンプレートの手直しが入るかもしれません。</p>
<ul>
<li><span class="color-check">モバイルファースト</span>のcssに変更しました。小さな端末からの設定になるのでご注意下さい。</li>
<li>floatでのレイアウトから、主にflexボックスを使ったレイアウトへ変更されました。</li>
<li>2022年6月でMicrosoftのIEサポートが終了したのに伴い、弊社テンプレートも<span class="color-check">IE対応(バグ対応など)を終了</span>しました。</li>
</ul>

</section>

<section>

<h2>当テンプレートの使い方</h2>

<h3>初心者向けマニュアル公開中</h3>
<p>画像加工やテンプレートの編集方法、無料サーバーを使ってサイトを公開するなど動画をまじえてわかりやすく解説しています。<br>
<a href="https://template-party.com/file/" target="_blank">初心者向けマニュアルはこちら。</a></p>

<h3>titleタグ、copyright、metaタグ、他の設定</h3>
<p><strong class="color-theme">titleタグの設定はとても重要です。念入りにワードを選んで適切に入力しましょう。</strong><br>
まず、htmlソースが見れる状態にして、<br>
<span class="look">&lt;title&gt;道の駅・物産館イメージ 無料ホームページテンプレート  tp_bussan2&lt;/title&gt;</span><br>
を編集しましょう。<br>
あなたのホームページ名が「道の駅」だとすれば、<br>
<span class="look">&lt;title&gt;道の駅&lt;/title&gt;</span><br>
とすればＯＫです。SEO対策もするなら冒頭に重要なワードを入れておきましょう。</p>
<p><strong class="color-theme">copyrightを変更しましょう。</strong><br>
続いてhtmlの下の方にある、<br>
<span class="look">Copyright&copy; 道の駅 All Rights Reserved.</span><br>
の部分もあなたのサイト名に変更します。</p>
<p><strong class="color-theme">metaタグを変更しましょう。</strong><br>
htmlソースが見える状態にしてmetaタグを変更しましょう。</p>
<p>ソースの上の方に、<br>
<span class="look">content=&quot;ここにサイト説明を入れます&quot;</span><br>
という部分がありますので、テキストをサイトの説明文に入れ替えます。検索結果の文面に使われる場合もありますので、見た人が来訪したくなるような説明文を簡潔に書きましょう。</p>
<p><strong class="color-theme">h1ロゴのaltタグも変更しましょう。</strong><br>
html側に、<br>
<span class="look">alt=&quot;道の駅&quot;</span><br>
となっている箇所があるので、この部分もあなたのサイト名に変更しましょう。</p>

<h3>ロゴ画像について</h3>
<p>トップページ用（logo_home.png）と、その他ページ用（logo.png）で、ロゴは２種類あります。<br>
トップページ用のlogo_home.pngについては必ず<span class="color-check">正方形</span>でご用意下さい。長方形にしてしまうと、楕円形で出力されてしまいます。</p>

<h3>psdファイル、aiファイルも梱包しています</h3>
<p>psdファイル（Photoshopソフト用）、aiファイル（Illustratorソフト用）も一部梱包しています。<br>
使える環境のお客様はご活用下さい。</p>

<h3>トップページのスライドショー画像について</h3>
<p>トップページのスライドショー写真は、配布元サイト（写真ACさん）の規約により梱包できませんが、配布元サイト(<a href="https://www.photo-ac.com/#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">写真AC</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" />)さんから無料ダウンロードができます。<br>
ご利用の際はACさんの規約を読んだ上で直接ダウンロードして下さい。</p>
<ul>
<li><a href="https://www.photo-ac.com/main/detail/24729031#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">1.jpgのダウンロード（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" /></li>
<li><a href="https://www.photo-ac.com/main/detail/24630677#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">2.jpgのダウンロード（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" /></li>
<li><a href="https://www.photo-ac.com/main/detail/25033810#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">3.jpgのダウンロード（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" /></li>
</ul>

<h3>トップページのスライドショー（vegas）の解説</h3>
<p>トップページのスライドショーには、vegasを使用しています。<br>
テンプレート内の解説及び、当サイト上でのマニュアル以外のサポートは基本的には行なっておりませんので、使いこなしたい方はGoogle検索などかけてみて下さい。</p>
<p>vegas 公式サイト：<a href="https://vegas.jaysalvat.com/" target="_blank">https://vegas.jaysalvat.com/</a><br>
オプション一覧：<a href="https://vegas.jaysalvat.com/documentation/settings/" target="_blank">https://vegas.jaysalvat.com/documentation/settings/</a><br>
トランジション一覧：<a href="https://vegas.jaysalvat.com/documentation/transitions/" target="_blank">https://vegas.jaysalvat.com/documentation/transitions/</a></p>
<p>上記の「トランジション一覧」で、色々なスライドショーのパターンを見る事ができます。お好みで設定を変更してみて下さい。jsフォルダのvegas.jsの値を変更するだけです。</p>
<p><strong class="color-theme">画像を入れ替える場合や、枚数を変更したい場合。</strong><br>
画像サイズは自由で構いませんが、閲覧しているウィンドウサイズにより、スライドショー画像はトリミングされますので、切り抜かれてもおかしくない画像をご用意下さい。<br>
枚数を変更する場合やファイル名を変更する場合は、jsフォルダのvegas.jsを開いて編集して下さい。枚数追加は、既存の画像読み込み行をコピペして画像ファイル名を入れ替えるだけでOKです。</p>
<p><strong class="color-theme">vegasを使う為に必要なタグ、ファイル類。</strong><br>
1. html冒頭のhead内にある「vegas.min.css」の読み込みの１行。<br>
2. htmlのhead内にある「スライドショー」のブロック。<br>
3. html下部にある「jQueryの読み込み」のブロック。※下のjsファイルより先に読み込んで下さい。<br>
4. その下の「スライドショー（vegas）」のブロック。<br>
5. jsフォルダ内の「vegas.js」。</p>
<p><strong class="color-theme">何年も経過した場合、動作に問題が出てくる可能性があります。</strong><br>
テンプレートを編集していないのに突然動きがおかしくなった場合は、CDNから読み込んでいるjQueryのバージョン及びvegas関連のファイルのバージョンを変更して動作するか確認してみて下さい。</p>

<h3>アイコン画像について（Font Awesomeの解説）</h3>
<p>imagesフォルダに入っていない画像（アイコン）は全てFont Awesomeの素材です。<br>
<a href="https://fontawesome.com/" target="_blank">Font Awesome 公式サイト</a><br>
<a href="https://fontawesome.com/v5.15/icons?d=gallery&p=2">Font Awesome アイコン一覧</a></p>
<p>iタグを使ってhtmlに直接アイコンを読み込む場合と、cssの擬似要素を使って読み込む場合があります。<br>
それぞれ他のアイコンに置き換えたい場合は、当サイトの<a href="https://template-party.com/tips/tips20211126_font_awesome.html">マニュアル</a>をお読み下さい。</p>
<p><strong class="color-theme">Font Awesomeを使う為に必要なタグ、ファイル類。</strong><br>
1. cssフォルダのstyle.css冒頭で読み込んでいる「Font Awesomeの読み込み」のブロック。</p>
<p><strong class="color-theme">何年も経過した場合、動作に問題が出てくる可能性があります。</strong><br>
テンプレートを編集していないのに突然動きがおかしくなった場合は、style.cssの冒頭でCDNから読み込んでいるFont Awesome関連のファイルのバージョンを変更して動作するか確認してみて下さい。</p>

<h3>トップページの「News」ブロックのアイコンについて</h3>
<p>「その他」「イベント」「お買い物」など、テキスト部分はhtml側で直接入力されていますので必要に応じて編集して下さい。<br>
アイコン用の文字数が増えすぎるとレイアウトが崩れます。ご注意下さい。</p>
<p>背景色は、cssフォルダのstyle.cssの、<br>
<span class="look">#new dt span</span><br>
や、<br>
<span class="look">#new dt span.icon-bg1</span><br>
のbackgroundでそれぞれ変更できます。</p>
<p>新しいアイコンを追加したい場合、上記の「#new dt span.icon-bg1」ブロックをコピペし、<span class="color-check">.icon-bg1</span>部分を<span class="color-check">.icon-bg2</span>などに変更し、backgroundに好きな色を設定します。<br>
後はhtml側で、<br>
<span class="look">&lt;span class=&quot;<span class="color-check">icon-bg2</span>&quot;&gt;〜〜〜&lt;/span&gt;</span><br>
などとすればOKです。</p>

<h3>開閉ブロックについて</h3>
<p>画面左上のハンバーガーメニュー（３本バーアイコン）をクリックすると開閉ブロックが開きます。<br>
html下部のmenubar内にブロックがありますので必要に応じて編集して下さい。</p>
<p>menubar内のshブロックは、900px未満の小さな端末から見た場合にだけ表示されるブロックです。<br>
これは2カラムページ(<a href="index_c2.html">index_c2.html</a>)でも解説していますが、例えば画面幅が900px未満になった際に場所をとるsubメニューを消してこちらを表示させる、などに応用できるブロックになります。必要がなければshブロックごと削除してもらってOKです。</p>

<h3>２カラムで使う事もできます</h3>
<p><a href="index_c2.html">index_c2.html</a>をご覧下さい。</p>

</section>

<section class="bg1">

<h2>背景に色をつけたタイプ</h2>
<p>&lt;section&gt;を&lt;section class=&quot;<span class="color-check">bg1</span>&quot;&gt;にするとこのブロックのように背景に色がつきます。</p>

<div class="list-container">

<div class="list">
<figure><img src="images/sample1.jpg" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list">
<figure><img src="images/sample1.jpg" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list">
<figure><img src="images/sample1.jpg" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

<div class="list">
<figure><img src="images/sample1.jpg" alt=""></figure>
<div class="text">
<h4>Sample Title</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</div>
</div>

</div>
<!--/.list-container-->

</section>

<section>

<h2 class="flag pt50">装飾つきの見出しについて</h2>
<p>h2タグに<span class="look">class=&quot;flag&quot;</span>を指定すれば、旗の装飾画像が出ます。</p>
<p>既にclass指定が入っている場合は、半角スペースで区切って入れて下さい。<br>
例：<span class="look">&lt;h2 class=&quot;sample <span class="color-check">flag</span>&quot;&gt;</span><br>
上記は<span class="color-check">sample</span>と<span class="color-check">flag</span>の２つのclassを指定した場合になります。</p>
<p>通常は上記だけでいいのですが、当ブロックのように背景色のついたボックス(bg1)に続く場合に旗が切れてしまうので、そういった場合は、<br>
<span class="look">&lt;h2 class=&quot;flag <span class="color-check">pt50</span>&quot;&gt;</span><br>
として下さい。上にpaddingが50pxできて旗が切れずに表示できます。</p>
<p>画像の変更、サイズの変更などは、cssフォルダの「.flag」で編集して下さい。<br>
画像を入れ替える際は、向かって左側のものを１つだけ用意して頂ければ、あとはcssで右側にも自動的に反転されます。</p>

</section>

<section>

<h2 class="cracker">クラッカーアニメーションについて</h3>
<p>h2タグに<span class="look">class=&quot;cracker&quot;</span>を指定すれば、このようなクラッカーアニメーションが自動再生されます。</p>
<p>既にclass指定が入っている場合は、半角スペースで区切って入れて下さい。<br>
例：<span class="look">&lt;h2 class=&quot;sample <span class="color-check">cracker</span>&quot;&gt;</span><br>
上記は<span class="color-check">sample</span>と<span class="color-check">cracker</span>の２つのclassを指定した場合になります。</p>
<p>h2タグ以外にも使いたい場合。<br>
class=&quot;cracker&quot;を指定する要素に<span class="look">position: relative;</span>のスタイルを追加すれば同じように動作すると思います。</p>
<p>クラッカー画像のサイズを変更したい場合。<br>
cssフォルダのinview.cssの<span class="look">.crackerstyle img</span>の設定内にある幅を変更して下さい。<br>
端末サイズごとに再指定がある場合があるのでチェックしましょう。</p>
<p>別のgifアニメーション画像に入れ替えたい場合。<br>
向かって左側にあたる画像を用意し、ファイル名をcracker.gifに変更してimagesフォルダに上書きすれば単純に置き換えられます。<br>
ファイル名は変更したくないなら、jsフォルダのjquery.inview_set.jsの、<br>
<span class="look">//crackerスタイルが画面内にきたら、クラッカーアニメーションを実行する</span><br>
の設定内に「２つ」あるimgタグのファイル名部分をそれぞれ入れ替えて下さい。</p>
<p>APNG(pngアニメーション)を使いたい場合も、このjsファイル内の書き換えでOKです。</p>

</section>

</main>

<div id="footermenu">
<ul>
<li class="title">メニュー</li>
<li><a href="index.html">ホーム</a></li>
<li><a href="company.html">運営会社</a></li>
<li><a href="info.html">施設のご案内</a></li>
<li><a href="shopping.html">お買い物</a></li>
<li><a href="event.html">イベント</a></li>
<li><a href="access.html">アクセス</a></li>
</ul>
<ul>
<li class="title">メニュー見出し</li>
<li><a href="#">サンプルメニューサンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
</ul>
<ul>
<li class="title">メニュー見出し</li>
<li><a href="#">サンプルメニューサンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
</ul>
<ul>
<li class="title">メニュー見出し</li>
<li><a href="#">サンプルメニューサンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
<li><a href="#">サンプルメニュー</a></li>
</ul>
</div>
<!--/#footermenu-->

<footer>
<small>Copyright&copy; <a href="index.html">道の駅</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--開閉ブロック-->
<div id="menubar">

<nav>
<ul>
<li><a href="index.html">ホーム</a></li>
<li><a href="info.html">施設のご案内</a></li>
<li><a href="shopping.html">お買い物</a></li>
<li><a href="event.html">イベント</a></li>
<li><a href="access.html">アクセス</a></li>
</ul>
</nav>

<p class="btn"><a href="contact.html">お問い合わせ</a></p>

<div class="sh">
<p>※900px未満のメニュー開閉時にのみ表示させたい情報があればここ（shボックスの中）に入れて下さい。<br>
サンプルテキスト。サンプルテキスト。<br>
サンプルテキスト。サンプルテキスト。<br>
サンプルテキスト。サンプルテキスト。</p>
</div>
<!--/.sh-->

</div>
<!--/#menubar-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<div>
<span></span><span></span><span></span>
</div>
<p>MENU</p>
</div>

</div>
<!--/#container-->

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--パララックス（inview）-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
<script src="js/jquery.inview_set.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</body>
</html>
